node_modules/
.project
unpackage/
.DS_Store
wxcomponents/**/*.vue
wxcomponents/**/*.css
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
