registry=http://172.16.1.129:4873/
always-auth=true
//172.16.1.129:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJkdCIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoiZHQiLCJncm91cHMiOlsiZHQiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJkdCIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE2Mjc4ODUzOTIsIm5iZiI6MTYyNzg4NTM5MywiZXhwIjoxNjMzMDY5MzkyfQ.rTpo5R0pRYou4eH_DHzpJrQA6A8Li3OUe8q8bMpxH5I
unsafe-perm=true