@import '@dt/component/style/main.scss';
@import "uview-ui/theme.scss";
@import 'uview-ui/index.scss';

.tab-class {
	font-size: 28upx;
	color: #999;
}

.tab-class-active {
	font-size: 32upx;
	color: #333;
}

.text-tab-class {
  font-size: 32rpx;
  color: #666;
  margin-right: 48rpx;
  font-weight: 400;
  transition: all 300ms;
}

.text-tab-active-class {
  color: #4A6DDB;
  font-weight: 500;
}